
body{
    background:grey;
    margin:0;}

header {
 background:white;
    padding:10px;
}

header h1{margin:0;}


.post{
    background:white; 
    margin-top:10px;}

.post img{
    width:100%;
}

div.post .post-header div:first-child{
    display:inline-block;
    width:80%;
}
div.post .post-header div:last-child{display:inline-block;
    width: 20px;
    text-align: right;
    color:gray;
    padding:10px 20px;
    }
div.post h2, .post p{
    padding:10px;}

.container{
    margin:auto;
    width:600px;}
